img {
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

.caption {
    text-align: center;
    font-size: 0.75em;
    margin-bottom: 5%;
}

blockquote {
    font-size: 1em;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.boxing {
    background: aliceblue;
    border-left: 21px solid steelblue;
    padding: 20px 35px;
}

